

.body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    background: #fff;
}

.footer-btn {
    padding: 16px 32px;
    height: 50px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;

    &:hover {
        color: #505050 !important;
    }

    &:active {
        color: #505050 !important;
    }
}

.add-btn {
    background-color: black;
    color: white;
    transition: all 0.2s ease;

    &:hover {
        background-color: #505050 !important;
        color: white !important;
    }

    &:active {
        background-color: #505050 !important;
        color: white !important;
    }
}

.drawer-input {
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #e5e5e5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid #ccc;

    &:hover {
        border: 1px solid #000000 !important;
    }

    &:focus {
        border: 1px solid #000000 !important;
    }
}

.drawer-search {
    border-radius: 100px;
}
