.tab-item {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    transition: color 0.3s ease;
}


:global(.ant-tabs-tab-active) {
    .tab-icon, .tab-label {
        color: #000000 !important; 
    }
}

:global(.ant-tabs-ink-bar) {
    background-color: #000000 !important; 
}

:global {
    .ant-tabs-nav::before {
        border-bottom: none !important;
    }
}

