.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    width: 70%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
}

.description-text {
    text-align: center;
    width: 60%;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 160px;
}

.feature-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-text {
    font-size: 14px;
    line-height: 1.4;
    color: #111;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px 150px;
}

.option-item {
    width: 100%;
    height: 650px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c9ffeb;
    border-radius: 10px;
}

.option-inner {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.option-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.option-description {
    text-align: center;
    width: 80%;
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
}

.option-img {
    width: 80%;
    height: 250px;
}

.option-button {
    margin-top: 30px;
    width: 50%;
    height: 50px;
    background-color: #5aca5e;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;

    &:hover {
        background-color: #4cae4f !important;
        transform: scale(1.02);
    }

    &:active {
        transform: scale(0.96);
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}

.button-ai {
    background-color: #655aca;
    transition: all 0.2s ease;

    &:hover {
        background-color: #5849df !important;
        transform: scale(1.02);
    }

    &:active {
        background-color: #493ca2 !important;
        transform: scale(0.96);
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}

.drawer {
    border-radius: 14px 0 0 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.drawer-header {
    padding: 44px 24px;
}

.drawer-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.drawer-title {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: 25px;
}

.drawer-group {
    margin-bottom: 20px;
}

.drawer-label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}

.drawer-input {
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: #e5e5e5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid #ccc;

    &:hover {
        border: 1px solid #000000 !important;
    }

    &:focus {
        border: 1px solid #000000 !important;
    }
}

.drawer-search {
    border-radius: 100px;
}

.drawer-search-result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.result-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.drawer-footer {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    background: #fff;
}

.drawer-button {
    height: 50px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s ease;

    &:hover {
        color: #505050 !important;
    }

    &:active {
        color: #505050 !important;
    }
}

.button-add {
    background-color: black;
    color: white;
    transition: all 0.2s ease;

    &:hover {
        background-color: #505050 !important;
        color: white !important;
    }

    &:active {
        background-color: #505050 !important;
        color: white !important;
    }
}

:global {
    .ant-drawer-header {
        padding: 35px 24px !important;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        border: 1px solid #000 !important;
        box-shadow: none !important;
    }

    .ant-input:focus {
        border-color: #000 !important;
        box-shadow: none !important;
    }

    .ant-input-affix-wrapper > input.ant-input {
        border: none !important;
    }
}
