.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.inner {
    margin: 50px 0;
    display: flex; 
    flex-direction: column; 
    gap: 20px;
    align-items: center; 
    justify-content: center;
    width: 70%;
}

.header {
    width: 100%;
    display: flex;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab-item {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    transition: color 0.5s ease;
}

.bold {
    font-weight: bold;
}

:global {
    .ant-tabs-tab-active {
        .tab-icon,
        .tab-label {
            color: #000000 !important;
        }
    }

    .ant-tabs-ink-bar {
        background-color: #000000 !important;
    }

    .ant-tabs-nav::before {
        border-bottom: none !important;
    }
}
