.wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.actionBtn {
    padding: 20px !important;
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border: none;
    backdrop-filter: blur(1px);
    transition: all 0.3s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.3) !important;
        color: #ffffff !important;
    }
}

.subInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.subItems {
    gap: 20px;
    font-size: 16px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.label {
    font-size: 15px;
}

.dash {
    font-size: 12px;
    vertical-align: middle;
}

.modal-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal-content {
    margin-top: 30px;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 600px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
}

.form-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    margin-top: 5px;
    padding: 15px !important;

    &:hover {
        border-color: #000 !important;
    }
}

.search-input {
    border-radius: 100px;
    padding: 10px;
    margin-top: 5px;
    :global {
        input.ant-input {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &:hover {
        border-color: #000 !important;
    }
}

.search-icon {
    font-size: 18px;
    margin: 0 5px 0 5px;
}

.modal-actions {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid #e8e8e8;
}

.modal-btn {
    padding: 22px !important;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(0.96);
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}

.save {
    background-color: black;
    color: #ffffff;
    border: none;

    &:hover {
        color: #bdbdbd !important;
        background-color: black !important;
    }
}

.delete {
    background-color: #ff4d4f;
    color: #ffffff;
    border: none;

    &:hover {
        color: #ffffff !important;
        background-color: #ff7875 !important;
    }
}
