.wrapper {
    margin-top: var(--default-layout-header-height);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}


.content {
    margin: 30px 0px !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.footer {
    position: fixed;
    z-index: 1;
    margin-left: var(--default-layout-sidebar-width);
    text-align: center;
}
