.wrapper {
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin-top: var(--default-layout-header-height);
}

.content {
    margin-top: 50px;
    margin-left: var(--default-layout-sidebar-width);
    width: 100%;

}

