.wrapper {
    height: 100%;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    background: white;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08); 
}


.inner {
    margin-top: 30px;
    width: 61.3%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content:space-between;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-width: 310px;
}

.search-bar {
    justify-content: center;
    width: 65%;
    min-width: 300px;
}

.title {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
}


.tab-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}


.tab-icon {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease;
}

.tab-label {
    font-size: 16px;
    font-weight: 500;
    color: #686868;
    transition: color 0.3s ease;
}

:global(.ant-tabs-tab-active) {
    .tab-icon, .tab-label {
        color: #000000 !important; 
    }
}

:global(.ant-tabs-ink-bar) {
    background-color: #000000 !important; 
}

:global {
    .ant-tabs-nav {
        margin-bottom: 0 !important;
    }
}
