.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.inner {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 70%;
}

.main {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tab-item {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    transition: color 0.5s ease;
}

.suggest {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabs {
    margin-top: 20px;
    border-bottom: 1px solid #d6d6d6;

    :global {
        .ant-tabs-tab-active {
            .tab-icon,
            .tab-label {
                color: #000000 !important;
            }
        }

        .ant-tabs-ink-bar {
            background-color: #000000 !important;
        }

        .ant-tabs-nav::before {
            border-bottom: none !important;
        }
    }
}

@media (max-width: 1400px) {
    .inner {
        flex-direction: column;
        width: 95%;
    }

    .main,
    .info {
        flex: none;
        width: 100%;
    }
}
