.location-component {
    margin: 1rem 0;
  
    .location-title {
      font-size: 1.25rem;
      font-weight: 600;
    }
  
    .location-card {
      display: flex;
      gap: 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: #f9f9f9;
  
      .location-marker {
        color: #16a34a;
      }
  
      .location-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
  
        .location-address {
          display: flex;
          align-items: center;
          gap: 0.5rem;
  
          .address-icon {
            color: #000;
          }
  
          .address-text {
            font-weight: 600;
          }
        }
  
        .arrow-icon {
          color: #9ca3af;
        }
      }
    }
  }
  