.wrapper {
    padding: 16px;
    padding-left: 0;
}

.day-list {
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
}

.add-button {
    margin-top: 8px;
}

.day-button {
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    color: inherit;
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
        border: 1px solid black;
        background-color: #e0e0e0;
    }

    &.selected {
        border: 2px solid black;
        background-color: #e0e0e0;
        color: black;
        font-weight: 600;
    }
}
